---
apiVersion: kubeadm.k8s.io/v1beta3
caCertPath: /etc/kubernetes/pki/ca.crt
discovery:
  bootstrapToken:
    apiServerEndpoint: "{{ k8s_nodes_master }}"
    token: "{{ k8s_nodes_token }}"
    unsafeSkipCAVerification: true
  timeout: 5m0s
  tlsBootstrapToken: "{{ k8s_nodes_token }}"
kind: JoinConfiguration
nodeRegistration:
  criSocket: "{{ k8s_nodes_runtime_socket }}"
  imagePullPolicy: IfNotPresent
  name: "{{ ansible_hostname }}"
  taints: null
  kubeletExtraArgs:
    node-ip: "{{ ansible_default_ipv4.address }}"
